

// MAIN///////////////////////////////

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body{
    font-family: mfont;



}
h1,h2,h3{font-family: mfont;}
p{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.2;
}





// HEADER-HERO///////////////////////////////////////////////


.header{

    scroll-padding-top: 70px;
    text-align: center;
    position: relative;
    &>*{
    margin-bottom:5rem;
    }
    background-image: linear-gradient( to bottom, rgba(239, 169, 71, 0.733) , rgba(239, 169, 71, 0.897) ), url(./image/5.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, 0 10%;
    background-size: cover, 100%;
    padding-bottom: 10rem;
    color: #493852;

}
.banner{
    max-width: 120rem ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15rem 0;
    margin-bottom: 6rem;


}
.logo{
    font-size: 3rem;
    width: 20rem;
    border-radius: 50%;
    display: block;

}
.header-nav{

    .ul{
        align-items: center;
        justify-content: flex-end;
        z-index: 10000;
        position: fixed;
        top: 0rem;
        right: 0rem;

        background-color: #9a6daf;
        width: 100%;
        padding-right: 3rem;
        transition: all .1s ease-in-out;
        padding:2.5rem 2rem;

    }
}

.ul.active{
    background-color: rgba(154, 109, 175, 0.774);

    padding: 2rem 2rem;
}
.navitemlink{
    color: #fff;
    text-decoration: none;
  
}
.navitemlink.hoveractive{
    color: #000;
}
.nav{

    ul{
        list-style: none;
        display: flex;
        gap: 4rem;
        

    }


}
.nav-item{
    font-size: 2.4rem;
    
}
.nav-item:not(:last-of-type){
    a:after{
        display: block;
    content: '';
    border-bottom: solid 3px #222;
    transform: scaleX(0);
    transition: all .2s ease-in-out;
    }
}
.nav-item a:hover::after{
    transform: scaleX(.8);
}

.nav-icon-group{
    display: flex;
    gap: 1rem;
    a{
        display: inline-block;
        img{
            width: 3rem;
        }
    }
}
.nav-hamburger{
    display: none;
}
.heading-1{
    font-size: 7.8rem;
    font-weight: 200;

}
.heading-2{
    font-size: 4.2rem;
    font-weight: 200;
}
.btn-contact{
    font-size: 2.4rem;
    color: #fff;
    background-color: #222;
    text-decoration: none;
    display: inline-block;
    padding: 2rem 4rem;
    border-radius: 50px;
}









// GALLERY/////////////////////////////////
.gallery{


    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient( to bottom, #89aed1, #efa947 ) ;
    padding: 10rem;
    &-p{
        margin: 10rem auto;
    }
}
.gallery-container{
    margin: 0 auto;
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 30vw);
    gap: 2rem;
    padding: 2rem;
}
.header-2{
    // font-size: 4.2rem;
    p{
        margin: 10rem auto;
    }
}

.gallery-item{
    overflow: hidden;
    position: relative;
    transition: all .4s ease;
    z-index: 1;

    &-caption{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, 20%);
        color:white;
        text-transform: uppercase;
        text-align:center;
        opacity: 0;
        transition: all .3s ease;
        z-index:1;
        backface-visibility:hidden;
        transition: all .4s ease;

    }

    img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        backface-visibility:hidden;
        transition: all .4s ease;
        z-index: 0;


    }
    &:hover img{
        filter:blur(2px) brightness(60%);
        transform: scale(1.2);

    }
    &:hover &-caption{

        transform: scale(1.2);
        transform:translate(-50%,-50%);
        opacity: 1;

}


}
.gallery-item-1{
grid-row: 1/2 ;
grid-column:1/2 ;

}
.gallery-item-2{
grid-row:1/2 ;
grid-column:2/3 ;
}
.gallery-item-3{
grid-row:1/2 ;
grid-column:3/4 ;
}
.gallery-item-4{
grid-row: 2/3 ;
grid-column: 1/2 ;
}
.gallery-item-5{
grid-row: 2/3 ;
grid-column: 2/3 ;
}
.gallery-item-6{
grid-row:2/3 ;
grid-column:3/4 ;
}
.gallery-item-7{
grid-row: 3/4 ;
grid-column:1/2 ;
}
.gallery-item-8{
grid-row:3/4 ;
grid-column:2/3 ;
}
.gallery-item-9{
grid-row:3/4 ;
grid-column:3/4 ;
}

















//ABOUT/////////////////////////////////////////

.about{
    transform: translateY(1rem);
    max-width: 120rem;

    padding-bottom: 5rem;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    gap: 10rem;



}
.about-header{
    padding-top: 10rem;
    h2{
        margin-top: 10rem;
    }
    p{
        margin: 10rem auto;
        text-align: center;
        width: 80%;

    }
}

.heading-2{
    text-align: center;
}
.heading-3{
    font-size: 3.6rem;
    font-weight: 200;
}
.about-subsection-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    p{
        margin-bottom: 2rem;
    }
    ul{
        list-style: none;
        li{
            font-size: 1.8rem;
  
            padding: .5rem 2rem;
        }
    }

}

.about-subsection-1{
    display: flex;
    gap: 2rem;

}
.about-subsection-2{
    gap: 2rem;
    display: flex;

}
.about-subsection-3{

    gap: 2rem;
    display: flex;
}
.about-img{
    flex: 0 0 50%;
    img{
        width: 80%;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.384);

    }
}

.footer{
    background-color: #9a6daf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &-logo{
        img{
            width: 22rem;
            height: auto;

        }
    }
    nav{
        padding-bottom:4rem;
        .nav-item{

            a{
                text-decoration: none;
                color:#fff;
                &:after{
                    display: block;
                content: '';
                border-bottom: solid 3px #222;
                transform: scaleX(0);
                transition: all .2s ease-in-out;
                }
               
            }
            & a:hover::after{
                transform: scaleX(.8);
            }
        }
    }
}

.buttons-container{
    display: none;
}

@media (max-width: 68.75em){
    html{
        font-size: 58%;
    }
    p{
        font-size: 1.6rem;
    }
    .banner{
        width: 100%;
    }
    .logo{
        width: 12rem;
        margin-left: 5rem;
    }
    .heading-1,
    .heading-2{
        width: 90%;
        margin: 5rem auto;
    }
    .about{
        width: 90%;
        margin: 5rem auto;
    }

}
@media (max-width: 50em){
    html{
        font-size: 53%;
    }


    .logo{
        width: 10rem;
        margin-left: 5rem;
    }
   .gallery{
   padding:  10rem;
//    scroll-padding-top: 500px;
   margin-top: -4rem;
   z-index: 1;
   position: relative;
   }
    .about{
        width: 90%;
        margin: 20rem auto;
        justify-content: center;
        align-items: center;
    }
    // .about-subsection-1,
    // .about-subsection-2,
    // .about-subsection-3{
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }
    .about-img{
        flex: 0 0 50%;
        margin: 0 auto;
        img{
            width: 100%;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.384);

        }
    }

}

@media (max-width: 41em){
    html{
        font-size: 49%;
    }



//    .gallery{
//    padding:  10rem;
// //    scroll-padding-top: 500px;


//    }
.about-header{
    padding-top: 5rem;
    h2{
        margin-top: 2rem;
    }
    p{
        margin: 4rem auto;
        text-align: center;
        width: 80%;

    }
}

.subsection-list{
    list-style: none;
}

.subsection-list-item{
    font-size: 1.8rem;

}
.about-text{
    width: 80%;
    margin: auto;
}

    .about{
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .about-subsection-1,
    .about-subsection-2,
    .about-subsection-3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-subsection-1,
    .about-subsection-3{
        .about-img{
            order: -1;
        }
    }
    // .about-subsection-3{
    //     .about-img{
    //         order: -1;
    //     }
    // }

    .about-img{
        flex: 0 0 50%;
        margin: 0 auto;
        img{
            width: 50%;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.384);

        }
    }

}
@media (max-width: 34em){
    .header{
       margin-top: -7rem;
       background-repeat: no-repeat, no-repeat;
       background-position: center, top;
       background-size: cover, cover;    }
       .heading-1{
        font-size: 4.2rem;
        font-weight: 200;

        }
        .heading-2{
        font-size: 3.2rem;
        font-weight: 200;
    }
       .logo{

        margin-left: 2rem;
        border-radius: 50%;
        display: block;

    }
    .header-nav{
        transform: translateX(150%);
        position: absolute;
        top: 5rem;
        right: 1rem;
        left: 0rem;
        transition: all .5s ease;
        padding-top: 2rem;
        // .navitemlink{
        //     display: none;
        // }
    }
    .banner{
        position: relative;
    }
    // .nav-hamburger{
    //     display: block;
    //     position: absolute;
    //     top: 3rem;
    //     right: 3rem;
    //     width: 10px;
    //     height: 10px;
    // }

    .header-nav.navactive{
        width: 100%;
        display: flex;
        transform: translateX(0);
       }

       nav.navactive ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        .nav-item{
            height: 2rem;
            width: 90%;
            z-index: 100000000;
            color: #222;
            &:first-of-type{
                margin-top: 5rem;
            }
           
        }
    }
    .nav-icon-group{
        justify-content: center;
        align-items: center;
        gap: 3rem;
    } 
    .gallery{
        padding: 2rem 0;
    }
    .nav-hamburger{
        display: block;
        background-color: #fff;
        border: 0;
        cursor: pointer;
        padding: 0;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 10rem;
        right: 5rem;
        background-color: transparent;
        z-index: 100000000;
        
    
    }
    .nav-hamburger:focus{
        outline: 0;
    }
    .nav-hamburger .line{
        background-color: #5290f9;
        height: 2px;
        width: 20px;
        position: absolute;
        top: 10px;
        left: 5px;
        transition: all .6s linear;
    }
    .nav-hamburger .line-2{
        top: auto;
        bottom: 10px;
    
    }
.carousel{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    height: 360px;
    width: 300px;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}
.gallery-container{
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    gap: 0rem;
}
.gallery-item{
    width: 300px;
    height: 300px;
    padding: 0;
    object-fit: cover;
    flex: 0 0 100%;
    .gallery-item-img{
        
        
        width: 50rem;
        height: 50rem;
    // object-fit: cover;
    }
    
    
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    height: 3rem;
    padding:.5rem 0;
    // position: absolute;
    // top: 50%;
    button{
        background-color: rebeccapurple;
        color: #fff;
        border: none;
        padding: 0 ;
        cursor: pointer;
        display: block;
        width: 49.5%;
        height: 5rem;
        &:hover{
            opacity: .9;
        }
        &:focus{
            outline:none;
        }
    }
    
}



}





